<div class="wrapper">
    <div class="form">
        <div class="title">Contáctanos</div>
        
        <input type="text" [ngStyle]="{'background': color1}" [(ngModel)]="name" placeholder="Primer Nombre">
        <input type="text" [ngStyle]="{'background': color2}" [(ngModel)]="apellido" placeholder="Segundo Apellido">
        <input type="text" [ngStyle]="{'background': color3}" [(ngModel)]="email" placeholder="Email" required>
        <input type="text" [ngStyle]="{'background': color4}" [(ngModel)]="mensaje" placeholder="Mensaje">

        <button id="submit" (click)="comprueba()"></button>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>