<div class="fondo">
    <div class="container gallery-container">

        <h1>Fórmula 1</h1>

        <p class="page-description text-center">Los mejores carros.</p>

        <div class="tz-gallery">

            <div class="row">

                <div class="col-sm-12 col-md-4">
                    <div class="lightbox">
                        <img src="{{images[5]}}" alt="Car">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="lightbox">
                        <img src="{{images[1]}}" alt="Park">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="lightbox">
                        <img src="{{images[2]}}" alt="Tunnel">
                    </div>
                </div>
                <div class="col-sm-12 col-md-8">
                    <div class="lightbox">
                        <img src="{{images[0]}}" alt="Traffic">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="lightbox">
                        <img src="{{images[4]}}" alt="Coast">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="lightbox">
                        <img src="{{images[3]}}" alt="Rails">
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>