<div class="wrapper">
    <span class="toggle-header">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="right-col">
      <main>
        <section class="panel about" data-panel="about">
          <div class="about-wrapper">
            <div class="panel-content">
              <h2 class="panel-header">Sobre la Página</h2>
              <div class="row">
                <div class="col intro-text">
                  <p>Formula 1 Racing,<br/>Su objetivo es informar sobre las nuevas tendencias y lo que ocurre dentro de este ambiente. 
                    <br>Se trata de una página informativa para el examen de la materia de Tecnologías Web. <br> </p>
                </div>
                <div class="col intro-image">
                  <img src="" alt="" />
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </div>
